html,body{
    height: 100%;
}
*{
    margin: 0;
}

.container{
    background-color: cadetblue;
    width: 80%;
    height: 80%;
    margin: auto;
    position: relative;
}

.box1,.box2,.box3{
    height: 20%;
    width: 20%;
    background-color: crimson;
}

.box2{
    background: rgb(18, 143, 102);
    position: relative;
    left: 3rem;
}

.box3{
    background: black;
}

.box1{
    position: absolute;
    right: 0%;
    bottom: 0%;
}
button{
    padding: 2rem 4rem;
}
button:hover{
    background: grey;
    padding: 2rem 4rem;
}
button:focus{
    background: rgb(210, 17, 17);
    padding: 2rem 4rem;
}